# Node modules
**/node_modules/

# Env files
**/.env*
**/-*.env*

# Logs
**/logs
*.log

# TypeScript build outputs (if you compile)
**/dist/
**/build/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
